In [2]:
import pandas as pd
import cv2
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import clear_output, Image, display, HTML

import base64
# from IPython.display import Video
# %matplotlib inline

In [3]:
base_pth = "C:\mira\splitVideos\SAMXXXXXXXXU010120000000XXXXXXXXX\Session 04-02-22_14-03-00_359"

In [4]:
imu_1 = pd.read_csv(base_pth+"//1_imu.csv")
imu_2 = pd.read_csv(base_pth+"//2_imu.csv")
imu_1

,sys_time,imu_time,ax,ay,az,gx,gy,gz
0,2022-02-04 14:04:38.745643,44.577430,0.006592,-0.493286,0.888306,3.540039,-3.234863,-1.831055
1,2022-02-04 14:04:38.746388,44.586615,0.006348,-0.495850,0.882812,3.845215,-3.295898,-2.014160
2,2022-02-04 14:04:38.747399,44.595798,0.006836,-0.495117,0.881348,4.211426,-3.112793,-2.319336
3,2022-02-04 14:04:38.749400,44.605384,0.008423,-0.484863,0.881470,4.760742,-2.929688,-2.441406
4,2022-02-04 14:04:38.750401,44.614567,0.009521,-0.474731,0.884277,4.699707,-2.868652,-2.624512
...,...,...,...,...,...,...,...,...
2014,2022-02-04 14:05:16.064969,80.921769,0.001465,-0.729492,0.725708,-1.953125,-3.723145,-2.380371
2015,2022-02-04 14:05:16.066977,80.929068,0.002563,-0.713623,0.716553,-4.455566,-3.967285,-2.319336
2016,2022-02-04 14:05:16.124950,80.938253,0.017822,-0.709595,0.694702,-1.647949,-3.479004,-1.220703
2017,2022-02-04 14:05:16.129973,81.098426,0.023804,-0.724731,0.704468,8.300781,-7.507324,-4.455566
2018,2022-02-04 14:05:16.303953,81.104829,0.035156,-0.705322,0.690186,9.094238,-7.324219,-4.272461

In [5]:
video_data = cv2.VideoCapture(base_pth+"//video.avi")

while video_data.isOpened:
    ret, frame = video_data.read()
    if ret:
        cv2.imshow("",frame)
        # plt.show()
    if cv2.waitKey(25) & 0xFF == ord('q'):
          break
    if not ret:
        break
cv2.destroyAllWindows()